body {
   font-weight: 400;
   font-family: "Roboto", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
   margin: 0;
   padding: 0;
   font-weight: 400;
}
a {
   color: #105cb6;
   text-decoration: none;
   cursor: pointer;
}
.content {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 30px;
}
.cols-wrapper {
   padding: 0 20px;
   border-radius: 10px;
}
.cols {
   display: flex;
   flex-direction: row;
   max-width: 1120px;
   width: 100%;
}
.col-main {
   max-width: 780px;
   flex-grow: 1;
}
.bname-info-block {
   display: table;
   border: 0;
   width: 100%;
}
.bname-info-block__left {
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   display: table-cell;
   padding: 20px;
   background: white;
   color: #333;
   font: 14px Roboto;
   border: 1px solid #e4e4e4;
   border-top: 2px solid #52902d;
   line-height: 20px;
   padding-right: 0;
   border-right: 0;
}
.bname-info-block__name {
   color: #333;
   margin: 0;
   line-height: 30px;
   font-size: 28px;
   padding: 0;
}
.bname-info-block__legal {
   color: #8d8b8b;
   padding: 25px 0 15px 0;
   font-size: 15px;
}
.bname-info-block__website {
   padding-bottom: 15px;
}
.bname-info-block__website-table {
   width: 100%;
   border-collapse: collapse;
}
.bname-info-block__website-item {
   margin: 0;
   padding: 0;
   color: #333;
   vertical-align: top;
}
.bname-info-block__website-link:hover {
   text-decoration: underline;
}
.bname-info-block__socials {
   padding: 10px 0 10px 0;
}
.bname-info-block__socials-img {
   opacity: 0.8;
   margin-left: 3px;
   margin-right: 3px;
   transition: all 0.2s;
}
.bname-info-block__socials-img:hover {
   opacity: 1;
}
.bname-info-block__address {
   color: #979595;
   font-size: 16px;
   display: block;
   padding: 10px 0;
   text-align: left;
   margin: 0;
   line-height: 20px;
   font-weight: 700;
}
.bname-info-block__address::before {
   display: inline-block;
   content: "";
   width: 10px;
   height: 15px;
   margin-right: 10px;
   background-repeat: no-repeat;
   vertical-align: top;
   margin-top: 3px;
   background-image: url(../fw/bname-alert/location2.png);
}
.bname-info-block__phone {
   color: #979595;
   font-size: 16px;
   display: block;
   padding: 10px 0;
   text-align: left;
   margin: 0;
   line-height: 20px;
   font-weight: 700;
}
.bname-info-block__phone::before {
   display: inline-block;
   content: "";
   width: 13px;
   height: 14px;
   margin-right: 10px;
   background-repeat: no-repeat;
   vertical-align: top;
   margin-top: 3px;
   background-image: url(../fw/bname-alert/phone2.png);
}
.bname-info-block__phones {
   display: table;
   width: 100%;
   border-collapse: collapse;
}
.bname-info-block__phones-header {
   display: table-row;
}
.bname-info-block__phones-content {
   display: table-row;
}
.bname-info-block__phones-phone--first {
   color: black;
   display: none;
   border-left: 1px solid #dddbdb;
   border-top: 1px solid #dddbdb;
   border-bottom: 1px solid #dddbdb;
   background: #f8f8f8;
   padding: 10px;
}
.bname-info-block__phones-phone {
   color: black;
   width: 100px;
   display: table-cell;
   border-bottom: 1px solid #dddbdb;
   border-left: 1px solid #dddbdb;
   border-top: 1px solid #dddbdb;
   background: #f8f8f8;
   padding: 10px;
}
.bname-info-block__phones-wrapper {
   display: table-cell;
   border-top: 1px solid #dddbdb;
   border-bottom: 1px solid #dddbdb;
   background: #f8f8f8;
   padding: 10px;
   color: #b2b2b2;
}
.bname-info-block__phones-link {
   color: black;
}
.bname-info-block__phones-link:hover {
   text-decoration: underline;
}
.bname-info-block__phones-space {
   color: #999;
   font-size: 13px;
   padding: 0 0 6px 0;
}
.bname-info-block__call {
   border-right: 1px solid #dddbdb;
   vertical-align: middle;
   display: table-cell;
   border-top: 1px solid #dddbdb;
   border-bottom: 1px solid #dddbdb;
   background: #f8f8f8;
   padding: 10px;
   color: #b2b2b2;
   border-collapse: collapse;
}
.bname-info-block__call-wrapper {
   display: table;
   margin-left: auto;
}
.bname-info-block__call-button {
   padding: 0;
   display: table-cell;
}
.bname-info-block__call-img {
   vertical-align: middle;
   margin-bottom: 3px;
   cursor: pointer;
}
.bname-info-block__call-up {
   width: 10px;
   padding: 0 5px 0 5px;
   white-space: nowrap;
   display: table-cell;
}
.bname-info-block__call-down {
   padding: 0 5px 0 5px;
   white-space: nowrap;
   padding-right: 0;
}
.bname-info-block__btn {
   background-color: #ff8000;
   color: white;
   font-size: 14px;
   font-weight: bold;
   padding: 10px;
   text-decoration: none !important;
   border-radius: 4px;
   border-bottom: 2px solid #c60;
   white-space: nowrap;
   display: inline-block;
}
.bname-info-block__btn:hover {
   background-color: #ffa64d;
   border-bottom: 2px solid #ee8a26;
   color: #fff;
}
.bname-info-block__right {
   text-align: center;
   width: 40%;
   max-width: 250px;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   display: table-cell;
   padding: 20px;
   background: white;
   color: #333;
   font: 14px Roboto;
   border: 1px solid #e4e4e4;
   border-top: 2px solid #52902d;
   line-height: 20px;
   border-left: 0;
}
.bname-info-block__rating {
   color: #979595;
   font-size: 16px;
   display: block;
   padding: 10px 0;
   text-align: left;
   margin: 0;
   line-height: 20px;
   font-weight: 700;
}
.bname-info-block__rating::before {
   display: inline-block;
   content: "";
   width: 16px;
   height: 16px;
   margin-right: 10px;
   background-repeat: no-repeat;
   vertical-align: top;
   margin-top: 3px;
   background-image: url(../fw/bname-alert/rating.png);
}
.bname-info-block__border-rating {
   background-color: #fbfbfb;
   border: 1px solid #dddbdb;
   border-bottom: 0;
   padding: 10px;
}
.bname-info-block__rating-canvas {
   position: relative;
   margin-bottom: 20px;
}
.bname-info-block__rating-number {
   position: absolute;
   left: 50%;
   top: 50%;
   display: inline-block;
   transform: translate(-50%, -50%);
   font-size: 58px;
   color: #bababa;
   padding-top: 17px;
   vertical-align: top;
   line-height: 52px;
   text-align: center;
   font-weight: 200;
}
.bname-info-block__rating-percent {
   font-size: 22px;
   display: block;
   font-weight: 100;
   font-style: normal;
}
.bname-info-block__statistics {
   margin: 10px 0 30px 0;
   cursor: pointer;
}
.bname-info-block__statistics-img {
   margin-right: 5px;
   vertical-align: middle;
}
.bname-info-block__statistics-view:hover {
   text-decoration: underline;
}
.bname-info-block__dots {
   padding: 3px 0;
}
.bname-info-block__statistics-name {
   float: left;
   clear: both;
   padding: 1px 0.5em;
   background: #fbfbfb;
   height: 1em;
   font-size: 14px;
}
.bname-info-block__statistics-number {
   padding: 1px 0.5em;
   background: #fbfbfb;
   float: right;
   color: black;
   height: 1em;
   font-size: 14px;
}
.bname-info-block__statistics-number--green {
   color: #64af37;
}
.bname-info-block__statistics-dotted {
   border-bottom: 1px dotted grey;
   margin-bottom: 2px;
   height: 1em;
   color: #b3b3b3;
   font-size: 14px;
}
.bname-info-block__alert {
   width: 100%;
   display: table;
   overflow: hidden;
}
.bname-info-block__alert_no-complaints {
   background: #ebebeb;
}
.bname-info-block__alert_finger-down, .bname-info-block__alert_alert {
   background: #e1675d;
}
.bname-info-block__alert_star {
   background: #618ed7;
}
.bname-info-block__alert_finger {
   background: #8abf6a;
}
.bname-info-block__alert_load {
   background: #f3a948;
}
.bname-info-block__alert-wrapper {
   width: 50px;
   vertical-align: middle;
   text-align: center;
   display: table-cell;
   color: white;
}
.bname-info-block__alert-text {
   text-align: left;
   vertical-align: middle;
   font-size: 12px;
   line-height: 14px;
   padding: 10px 10px 10px 0;
   display: table-cell;
   color: white;
}
.bname-info-block__alert-text_no-complaints {
   color: #aaa;
   text-align: left;
}
@media only screen and (max-width: 1200px) {
   .content {
      padding: 0;
  }
}
@media only screen and (max-width: 780px) {
   .cols-wrapper {
      padding: 0 10px;
  }
   .cols {
      margin-right: 0;
      display: block;
  }
   .col-main {
      display: block;
  }
}
@media only screen and (max-width: 780px) {
   .bname-info-block {
      display: block;
  }
   .bname-info-block__left {
      display: block;
      width: auto;
      max-width: none;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 0;
      padding-right: 20px;
      border-bottom: 0;
      border-right: 1px solid #e4e4e4;
  }
   .bname-info-block__right {
      display: block;
      width: auto;
      max-width: none;
      border-radius: 0;
      border-top: 0;
      padding-top: 0;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-left: 1px solid #e4e4e4;
  }
}
@media only screen and (max-width: 630px) {
   .bname-info-block__address {
      padding-bottom: 0;
  }
   .bname-info-block__btn-wrapper {
      text-align: center;
  }
   .bname-info-block__phones-phone--first, .bname-info-block__phones-row {
      display: table-cell;
      border: 0;
      background: 0;
      padding-top: 0;
  }
   .bname-info-block__phones-phone {
      display: none;
  }
   .bname-info-block__phones-wrapper {
      border-left: 1px solid #dddbdb;
  }
}
