.top-white-block {
	width: 100%;
	background: white;
	box-shadow: 0 4px 2px -2px #dedfdf;
	&__inner {
		 width: 100%;
		 max-width: 1160px;
		 margin: 0 auto;
		 display: table;
	}
	&__avatar {
		 position: relative;
		 width: 124px;
		 height: 172px;
		 display: table-cell;
	}
	&__avatar-ring {
		 position: absolute;
		 top: 50%;
		 left: 50%;
		 transform: translate(-50%, -50%);
	}
	&__avatar-img {
		 width: 122px;
		 height: 122px;
		 border-radius: 61px;
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-size: contain;
		 position: absolute;
		 left: 50%;
		 top: 50%;
		 transform: translate(-50%, -50%);
	}
	&__info {
		 padding: 20px;
		 vertical-align: middle;
		 display: table-cell;
	}
	&__name {
		 font: 400 24px roboto;
		 color: #000;
		 padding-left: 0;
		 margin: 0;
		 padding-right: 10px;
	}
	&__rating {
		 padding: 10px 0 15px;
	}
	&__rating-percent {
		 color: #52902d;
		 font-weight: 700;
	}
	&__table-top {
		 display: table;
	}
	&__table-bottom {
		 display: table;
	}
	&__btn-wrapper {
		 padding-right: 10px;
		 vertical-align: middle;
		 display: table-cell;
	}
	&__btn {
		 background-color: #ff8000;
		 color: #fff;
		 font-size: 14px;
		 font-weight: 700;
		 padding: 10px;
		 text-decoration: none !important;
		 border-radius: 4px;
		 border-bottom: 2px solid #c60;
		 white-space: nowrap;
		 display: inline-block;
		 &:hover {
			  background-color: #ffa64d;
			  border-bottom: 2px solid #ee8a26;
			  color: #fff;
		 }
	}
	&__divider {
		 width: 2px;
		 background: #d6caca;
		 vertical-align: middle;
		 display: table-cell;
	}
	&__complaints {
		 color: #767575;
		 text-align: center;
		 padding-left: 10px;
		 vertical-align: middle;
		 display: table-cell;
	}
	&__complaints-number {
		 color: #333;
		 font-weight: 700;
	}
	&__description {
		 color: #6a6a6a;
		 font-size: 15px;
		 padding-left: 10px;
		 display: table-cell;
	}
}

@media only screen and (max-width: 780px) {
	.top-white-block {
		 &__inner {
			  display: block;
		 }
		 &__info {
			  display: block;
			  padding-top: 0;
		 }
		 &__avatar {
			  display: block;
			  width: 100%;
		 }
		 &__table-top {
			  display: block;
		 }
		 &__name {
			  display: block;
			  padding-right: 0;
			  text-align: center;
		 }
		 &__rating {
			  text-align: center;
		 }
		 &__table-bottom {
			  margin: 0 auto;
		 }
		 &__description {
			  display: block;
			  padding-left: 0;
			  padding-right: 0;
			  text-align: center;
		 }
	}
}
