.bname-info-block {
    display: table;
    border: 0;
    width: 100%;
    &__left {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        display: table-cell;
        padding: 20px;
        background: white;
        color: #333;
        font: 14px Roboto;
        border: 1px solid #e4e4e4;
        border-top: 2px solid #52902d;
        line-height: 20px;
        padding-right: 0;
        border-right: 0;
    }
    &__name {
        color: #333;
        margin: 0;
        line-height: 30px;
        font-size: 28px;
        padding: 0;
        margin-bottom: 25px;
    }
    &__legal {
        color: #8d8b8b;
        font-size: 15px;
    }
    &__website {
        margin-bottom: 15px;
    }
    &__website-table {
        width: 100%;
        border-collapse: collapse;
    }
    &__website-item {
        margin: 0;
        padding: 0;
        color: #333;
        vertical-align: top;
    }
    &__website-link {
        &:hover {
            text-decoration: underline;
        }
    }
    &__socials {
        padding: 10px 0 10px 0;
    }
    &_socials-link {
        margin-left: 3px;
        margin-right: 3px;
    }
    &__socials-img {
        opacity: 0.8;
        margin-left: 3px;
        margin-right: 3px;
        transition: all 0.2s;
        &:hover {
            opacity: 1;
        }
    }
    &__address {
        color: #979595;
        font-size: 16px;
        display: block;
        padding: 10px 0;
        text-align: left;
        margin: 0;
        line-height: 20px;
        font-weight: 700;
        &::before {
            display: inline-block;
            content: "";
            width: 10px;
            height: 15px;
            margin-right: 10px;
            background-repeat: no-repeat;
            vertical-align: top;
            margin-top: 3px;
            background-image: url(../img/bname-alert/location2.png);
        }
    }
    &__phone {
        color: #979595;
        font-size: 16px;
        display: block;
        padding: 10px 0;
        text-align: left;
        margin: 0;
        line-height: 20px;
        font-weight: 700;
        &::before {
            display: inline-block;
            content: "";
            width: 13px;
            height: 14px;
            margin-right: 10px;
            background-repeat: no-repeat;
            vertical-align: top;
            margin-top: 3px;
            background-image: url(../img/bname-alert/phone2.png);
        }
    }
    &__phones {
        display: table;
        width: 100%;
        border-collapse: collapse;
    }
    &__phones-header {
        display: table-row;
    }
    &__phones-content {
        display: table-row;
    }
    &__phones-phone--first {
        color: black;
        display: none;
        border-left: 1px solid #dddbdb;
        border-top: 1px solid #dddbdb;
        border-bottom: 1px solid #dddbdb;
        background: #f8f8f8;
        padding: 10px;
    }
    &__phones-phone {
        color: black;
        width: 100px;
        display: table-cell;
        border-bottom: 1px solid #dddbdb;
        border-left: 1px solid #dddbdb;
        border-top: 1px solid #dddbdb;
        background: #f8f8f8;
        padding: 10px;
    }
    &__phones-wrapper {
        display: table-cell;
        border-top: 1px solid #dddbdb;
        border-bottom: 1px solid #dddbdb;
        background: #f8f8f8;
        padding: 10px;
        color: #b2b2b2;
    }
    &__phones-link {
        color: black;
        &:hover {
            text-decoration: underline;
        }
    }
    &__phones-space {
        color: #999;
        font-size: 13px;
        padding: 0 0 6px 0;
    }
    &__call {
        border-right: 1px solid #dddbdb;
        vertical-align: middle;
        display: table-cell;
        border-top: 1px solid #dddbdb;
        border-bottom: 1px solid #dddbdb;
        background: #f8f8f8;
        padding: 10px;
        color: #b2b2b2;
        border-collapse: collapse;
    }
    &__call-wrapper {
        display: table;
        margin-left: auto;
    }
    &__call-button {
        padding: 0;
        display: table-cell;
    }
    &__call-img {
        vertical-align: middle;
        margin-bottom: 3px;
        cursor: pointer;
    }
    &__call-up {
        width: 10px;
        padding: 0 5px 0 5px;
        white-space: nowrap;
        display: table-cell;
    }
    &__call-down {
        padding: 0 5px 0 5px;
        white-space: nowrap;
        padding-right: 0;
    }

    &__btn {
        background-color: #ff8000;
        color: white;
        font-size: 14px;
        font-weight: bold;
        padding: 10px;
        text-decoration: none !important;
        border-radius: 4px;
        border-bottom: 2px solid #c60;
        white-space: nowrap;
        display: inline-block;
        &:hover {
            background-color: #ffa64d;
            border-bottom: 2px solid #ee8a26;
            color: #fff;
        }
    }

    &__right {
        text-align: center;
        width: 40%;
        max-width: 250px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        display: table-cell;
        padding: 20px;
        background: white;
        color: #333;
        font: 14px Roboto;
        border: 1px solid #e4e4e4;
        border-top: 2px solid #52902d;
        line-height: 20px;
        border-left: 0;
    }
    &__rating {
        color: #979595;
        font-size: 16px;
        display: block;
        padding: 10px 0;
        text-align: left;
        margin: 0;
        line-height: 20px;
        font-weight: 700;
        &::before {
            display: inline-block;
            content: "";
            width: 16px;
            height: 16px;
            margin-right: 10px;
            background-repeat: no-repeat;
            vertical-align: top;
            margin-top: 3px;
            background-image: url(../img/bname-alert/rating.png);
        }
    }
    &__border-rating {
        background-color: #fbfbfb;
        border: 1px solid #dddbdb;
        border-bottom: 0;
        padding: 10px;
    }
    &__rating-canvas {
        position: relative;
        margin-bottom: 20px;
    }
    &__rating-number {
        position: absolute;
        left: 50%;
        top: 50%;
        display: inline-block;
        transform: translate(-50%, -50%);
        font-size: 58px;
        color: #bababa;
        padding-top: 17px;
        vertical-align: top;
        line-height: 52px;
        text-align: center;
        font-weight: 200;
    }
    &__rating-percent {
        font-size: 22px;
        display: block;
        font-weight: 100;
        font-style: normal;
    }
    &__statistics {
        margin: 10px 0 30px 0;
        cursor: pointer;
    }
    &__statistics-img {
        margin-right: 5px;
        vertical-align: middle;
    }
    &__statistics-view {
        &:hover {
            text-decoration: underline;
        }
    }
    &__dots {
        padding: 3px 0;
    }
    &__statistics-name {
        float: left;
        clear: both;
        padding: 1px 0.5em;
        background: #fbfbfb;
        height: 1em;
        font-size: 14px;
    }
    &__statistics-number {
        padding: 1px 0.5em;
        background: #fbfbfb;
        float: right;
        color: black;
        height: 1em;
        font-size: 14px;
    }
    &__statistics-number--green {
        color: #64af37;
    }
    &__statistics-dotted {
        border-bottom: 1px dotted grey;
        margin-bottom: 2px;
        height: 1em;
        color: #b3b3b3;
        font-size: 14px;
    }
    &__alert {
        width: 100%;
        display: table;
        overflow: hidden;
    }
    &__alert_no-complaints {
        background: #ebebeb;
    }
    &__alert_finger-down,
    &__alert_alert {
        background: #e1675d;
    }

    &__alert_star {
        background: #618ed7;
    }
    &__alert_finger {
        background: #8abf6a;
    }
    &__alert_load {
        background: #f3a948;
    }
    &__alert-wrapper {
        width: 50px;
        vertical-align: middle;
        text-align: center;
        display: table-cell;
        color: white;
    }
    &__alert-text {
        text-align: left;
        vertical-align: middle;
        font-size: 12px;
        line-height: 14px;
        padding: 10px 10px 10px 0;
        display: table-cell;
        color: white;
    }
    &__alert-text_no-complaints {
        color: #aaa;
        text-align: left;
    }
}

@media only screen and (max-width: 1200px) {
    .content {
        padding: 0;
    }
}

@media only screen and (max-width: 780px) {
    .cols-wrapper {
        padding: 0 10px;
    }
    .cols {
        margin-right: 0;
        display: block;
    }
    .col-main {
        display: block;
    }
}

@media only screen and (max-width: 780px) {
    .bname-info-block {
        display: block;
        &__left {
            display: block;
            width: auto;
            max-width: none;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 0;
            padding-right: 20px;
            border-bottom: 0;
            border-right: 1px solid #e4e4e4;
        }
        &__right {
            display: block;
            width: auto;
            max-width: none;
            border-radius: 0;
            border-top: 0;
            padding-top: 0;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            border-left: 1px solid #e4e4e4;
        }
    }
}

@media only screen and (max-width: 630px) {
    .bname-info-block {
        &__address {
            padding-bottom: 0;
        }
        &__btn-wrapper {
            text-align: center;
        }
        &__phones-phone--first,
        &__phones-row {
            display: table-cell;
            border: 0;
            background: 0;
            padding-top: 0;
        }
        &__phones-phone {
            display: none;
        }
        &__phones-wrapper {
            border-left: 1px solid #dddbdb;
        }
    }
}
