
body {
   font-weight: 400;
   font-family: "Roboto", sans-serif;
   background: #eff0f0;
}

h1,h2,h3,h4,h5,h6 {
   margin: 0;
   padding: 0;
   font-weight: 400;
}

a {
   color: #105cb6;
   text-decoration: none;
   cursor: pointer;
}

.page-content {
   max-width: 1160px;
   margin: 0 auto;
   padding: 0 50px;
   &__cols {
      display: flex;
      flex-direction: row;
      max-width: 1120px;
      width: 100%;
   }
   &__left {
      max-width: 780px;
      flex-grow: 1;
   }
}



.bname-in-list {
   width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 5px 0 #CCCFCF;
    }
    &__logo,
    &__inner {
      width: 64px;
      height: 64px;
      min-width: 64px;
    }
    &__logo {
      position: relative;
    }
    &__inner {
      border: 1px solid #ccc;
      border-radius: 50%;
    }
    &__img {
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      border-radius: 50%;
      overflow: hidden;
    }
    &__inner,
    &__img {
      position: absolute;
      top: 43%;
      left: 50%;
      transform: translate(-50%,-50%);
      box-sizing: border-box;
    }
    &__right {
      display: flex;
      flex-direction: column;
      padding-left: 15px;
    }
    &__title {
      font: 400 24px 'Roboto';
      color: #333;
      word-break: break-word;
    }
    &__info {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #999;
      font-size: 14px;
    }
    &__stars {
      display: flex;
      align-items: center;
      padding-right: 5px;
    }
    &__stars.bname-in-list__stars--1 .bname-in-list__star:nth-child(1) {
      background:url(/img/bnstar-24.svg) no-repeat 50% 50%;
    }
    &__stars.bname-in-list__stars--2 .bname-in-list__star:nth-child(-n + 2) {
       background:url(/img/bnstar-24.svg) no-repeat 50% 50%;
    }
    &__stars.bname-in-list__stars--3 .bname-in-list__star:nth-child(-n + 3) {
       background:url(/img/bnstar-24.svg) no-repeat 50% 50%;
    }
    &__stars.bname-in-list__stars--4 .bname-in-list__star:nth-child(-n + 4) {
       background:url(/img/bnstar-24.svg) no-repeat 50% 50%;
    }
    &__stars.bname-in-list__stars--5 .bname-in-list__star:nth-child(-n + 5) {
       background:url(/img/bnstar-24.svg) no-repeat 50% 50%;
    }
    &__star {
      background: url(../images/bnstarf-24-emp.svg) no-repeat 50% 50%;
      width: 24px;
      height: 24px;
      padding-right: 2px;
   }
    &__stats {
      padding-top: 5px;
      font-weight: 500;
    }
    &__stats-complaints,
    &__stats-resolved {
       text-transform: uppercase;
    }
    &__stats-number {
      color: black;
      padding: 0 10px 0 5px;
    }
    &__stats-number--green {
      color: #00a684;
      padding: 0 10px 0 5px;
    }
    &__divider {
      height: 20px;
      padding: 0;
      display: block;
      min-height: 0;
    }
    &__in-ads {
       width: 100%;
       flex-direction: column;
       align-items: center;
       justify-content: flex-start;
       box-sizing: border-box;
       position: relative;
    }
    &__advcomplaint {
      max-width: 820px;
    }
}


@media only screen and (max-width: 1200px) {
   .page-content {
      padding: 0 20px;
   }
}

@media only screen and (max-width: 780px) {
   .page-content {
      padding: 0 10px;
      &__cols {
         margin-right: 0;
         flex-wrap: wrap;
      }
      &__left {
         width: 100%;
         flex: 0 0 100%;
         max-width: 100%;
         padding-left: 0;
         min-width: 0;     
      }
   }
}

@media only screen and (max-width: 590px) {
   .bname-in-list{
      &__info {
         flex-direction: column;
         align-items: flex-start;
      }
      &__star {
         background: url(../images/bnstarf-16-emp.svg) no-repeat 50% 50%;
         width:16px;
         height:16px;
      }
      &__stars.bname-in-list__stars--1 .bname-in-list__star:nth-child(1) {
         background:url(/images/bnstar-16.svg) no-repeat 50% 50%;
      }
      &__stars.bname-in-list__stars--2 .bname-in-list__star:nth-child(-n + 2) {
         background:url(/images/bnstar-16.svg) no-repeat 50% 50%;
      }
      &__stars.bname-in-list__stars--3 .bname-in-list__star:nth-child(-n + 3) {
         background:url(/images/bnstar-16.svg) no-repeat 50% 50%;
      }
      &__stars.bname-in-list__stars--4 .bname-in-list__star:nth-child(-n + 4) {
         background:url(/images/bnstar-16.svg) no-repeat 50% 50%;
      }
      &__stars.bname-in-list__stars--5 .bname-in-list__star:nth-child(-n + 5) {
         background:url(/images/bnstar-16.svg) no-repeat 50% 50%;
      }
      &__stats-complaints,
      &__stats-resolved {
         display: inline-flex;
      }
   } 
}
