body {
   font-weight: 400;
   font-family: "Roboto", sans-serif;
   background: #eff0f0;
}
h1, h2, h3, h4, h5, h6 {
   margin: 0;
   padding: 0;
   font-weight: 400;
}
a {
   color: #105cb6;
   text-decoration: none;
   cursor: pointer;
}
.page-content {
   max-width: 1160px;
   margin: 0 auto;
   padding: 0 50px;
   padding-top: 20px;
}
.page-content__cols {
   display: flex;
   flex-direction: row;
   max-width: 1120px;
   width: 100%;
}
.page-content__left {
   max-width: 780px;
   flex-grow: 1;
}
.page-content__right {
   width: 340px;
   min-width: 340px;
   padding-left: 20px;
}
@media only screen and (max-width: 1200px) {
   .page-content {
      padding: 0 20px;
  }
}
@media only screen and (max-width: 780px) {
   .page-content__cols {
      flex-direction: column;
  }
   .page-content__left, .page-content__right {
      display: block;
      width: 100%;
      max-width: 100%;
      padding-left: 0;
      min-width: 0;
  }
}
.default-forms {
   position: relative;
   padding: 30px 40px;
   background-color: white;
   border-radius: 15px;
   box-shadow: 0 0 5px 0 #e2e3e1;
}
.default-forms__title_light, .default-forms__title_dark {
   border-bottom: 2px solid #d5d7d8;
   color: #999;
   font-size: 20px;
   font-weight: normal;
   line-height: 30px;
}
.default-forms__inner {
   background-color: #f8f8f8;
   padding: 34px 20px 30px 10px;
   color: #000;
}
.default-forms__label {
   display: inline-block;
   padding: 0 15px 0 0;
   width: 25%;
   font-weight: 700;
   font-size: 14px;
}
.default-forms__input-name, .default-forms__input-subject, .default-forms__input-details, .default-forms__input-address, .default-forms__input-website, .default-forms__select {
   width: 75%;
   padding: 6px;
   border: 1px solid #ccc;
   border-top: 1px solid #9a9a9a;
   font-size: 14px;
   box-sizing: border-box;
   height: 30px;
   margin: 6px 0;
}
.default-forms__input-name::placeholder, .default-forms__input-subject::placeholder, .default-forms__input-details::placeholder, .default-forms__input-address::placeholder, .default-forms__input-website::placeholder, .default-forms__select::placeholder {
   font-size: 14px;
}
.default-forms__input-name, .default-forms__input-address, .default-forms__input-website, .default-forms__select {
   max-width: 300px;
   padding: 4px 6px;
}
.default-forms__input-subject {
   width: 65%;
}
.default-forms__textarea {
   display: flex;
   align-items: center;
}
.default-forms__input-details {
   margin-left: 4px;
   width: 68%;
   height: 200px;
}
.default-forms__input-details::placeholder {
   font: normal 14px Roboto;
}
.default-forms__check-name, .default-forms__check-subject, .default-forms__check-select {
   margin-left: 5px;
}
.default-forms__check-name.active, .default-forms__check-subject.active, .default-forms__check-select.active {
   display: none;
}
.default-forms__check-name_ok, .default-forms__check-subject_ok, .default-forms__check-select_ok {
   display: none;
   margin-left: 5px;
}
.default-forms__check-name_ok.active, .default-forms__check-subject_ok.active, .default-forms__check-select_ok.active {
   display: inline-block;
}
.default-forms__expanded-view {
   font-weight: 700;
   font-size: 14px;
   margin-left: 17px;
}
.default-forms__tip {
   position: absolute;
   right: -180px;
   background-color: #fff5d5;
   padding: 20px;
   margin-top: -10px;
   box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
   color: #999;
   z-index: 5;
   border-bottom: 1px solid #d5d7d8;
}
.default-forms__tip::before {
   content: "";
   position: absolute;
   width: 11px;
   height: 21px;
   background-image: url(../fw/tip-arrow.png);
   margin: -5px 0 0 -30px;
}
.default-forms__tip-name {
   display: none;
   top: 100px;
}
.default-forms__tip-subject {
   display: none;
   top: 140px;
   right: -270px;
}
.default-forms__tip-details {
   display: none;
   top: 200px;
   right: -310px;
}
.default-forms__tip-categories {
   display: none;
   top: 400px;
}
.default-forms__tip-country {
   display: none;
   top: 450px;
   right: -220px;
}
.default-forms__tip-address {
   display: none;
   top: 480px;
   right: -230px;
}
.default-forms__tip-captcha {
   display: none;
   top: 655px;
   right: -215px;
}
.default-forms__tip-title {
   display: block;
   font-weight: 700;
   padding: 0 5px 5px 20px;
   background: url(../fw/check-gray.png) no-repeat 0 1px;
}
.default-forms__tip-text {
   font-weight: 400;
   font-size: 13px;
}
.default-forms__input-name:hover ~ .default-forms__tip-name, .default-forms__input-subject:hover ~ .default-forms__tip-subject, .default-forms__input-details:hover ~ .default-forms__tip-details, .default-forms__select-categories:hover ~ .default-forms__tip-categories, .default-forms__select-country:hover ~ .default-forms__tip-country, .default-forms__input-address:hover ~ .default-forms__tip-address, .default-forms__captcha-input:hover ~ .default-forms__tip-captcha {
   display: block;
}
.default-forms__photo {
   overflow: auto;
   display: inline-block;
   margin-top: 20px;
   margin-bottom: 10px;
}
.default-forms__photo-link {
   border: 1px solid #ccc;
   border-radius: 4px;
   text-decoration: none;
   padding: 18px 18px 18px 62px;
   display: block;
   width: auto;
   background: url(../fw/foto.png) 10px 50% no-repeat #eff0f0;
   font-size: 14px;
}
.default-forms__captcha {
   display: flex;
   align-items: center;
   margin-bottom: 30px;
}
.default-forms__arrow {
   padding: 0 10px;
}
.default-forms__captcha-img {
   border: 1px solid #ccc;
}
.default-forms__captcha-input {
   height: 22px;
   max-width: 62px;
   border: 1px solid #ccc;
   border-top: 1px solid #9a9a9a;
   padding: 4px;
}
.default-forms__submit {
   background-color: #ff8000;
   color: white;
   font-size: 14px;
   font-weight: bold;
   padding: 10px 30px;
   text-decoration: none !important;
   border: none;
   border-radius: 4px;
   border-bottom: 2px solid #c60;
   white-space: nowrap;
   display: block;
   cursor: pointer;
   text-align: center;
   margin: 0 auto;
}
.default-forms__submit:hover {
   background-color: #ffa64d;
   border-bottom: 2px solid #ee8a26;
   color: #fff;
}
.default-forms__categories {
   background-color: #fff;
   display: none;
   position: absolute;
   top: 30px;
   left: 50%;
   transform: translateX(-50%);
   z-index: 10;
   max-width: 776px;
   width: 100%;
   padding: 10px;
   font-size: 12px;
}
.default-forms__categories-close {
   display: block;
   position: absolute;
   right: 10px;
   top: 10px;
   width: 20px;
   height: 20px;
   z-index: 12;
   background: url(../fw/modal_close.png) no-repeat;
}
.default-forms__categories-title {
   background-color: #64af37;
   color: #fff;
   text-align: center;
   width: 100%;
   height: 60px;
   border-bottom: 0 solid #679d19;
   font-size: 24px;
   font-weight: normal;
   line-height: 60px;
}
.default-forms__categories-radio {
   background: #f8f8f8;
   padding: 0px 20px 50px 20px;
}
.default-forms__categories-column {
   padding-top: 5px;
   display: inline-flex;
   flex-direction: column;
   width: 24.5%;
}
.default-forms__categories-item {
   padding: 3px 0;
}
.default-forms__categories-btn {
   appearance: none;
   width: 12px;
   height: 12px;
   vertical-align: middle;
   border-width: 1px;
   border-style: solid;
   border-color: darkgrey;
   border-image: initial;
   border-radius: 50%;
   outline: 0px;
}
.default-forms__categories-btn::before {
   font-size: 0;
   content: "";
   display: block;
   width: 60%;
   height: 60%;
   margin: 20% auto;
   border-radius: 50%;
}
.default-forms__categories-btn:checked {
   border: 1px solid #ff8000;
}
.default-forms__categories-btn:checked::before {
   background: #ff8000;
}
.default-forms__categories-btn:hover {
   border: 1px solid #ff8000;
}
.default-forms__categories-btn:hover:before {
   background: #ff8000;
}
.default-forms__categories-label {
   display: block;
   padding: 12px 0 5px;
}
.default-forms__category-label {
   display: block;
   padding: 2px;
   padding-left: 17px;
}
.default-forms__categories-overlay {
   display: none;
   background-color: #000;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   opacity: 0.3;
}
.default-forms__inner-comments {
   padding: 10px 20px 20px;
}
.default-forms__title_dark {
   color: #303030;
   font-size: 18px;
}
.default-forms__comments-textarea {
   margin: 0px;
   width: 98%;
   height: 190px;
   border: 1px solid #ccc;
   border-top: 1px solid #9a9a9a;
   padding: 5px;
   margin: 10px 0;
   resize: none;
}
.default-forms__comments-textarea::placeholder {
   font-size: 14px;
}
.default-forms__photo-comments {
   margin-top: 0;
   margin-bottom: 30px;
}
.default-forms__submit-comments {
   padding: 10px 25px;
}
.default-forms__captcha-comments {
   margin-bottom: 20px;
}
.default-forms__reply {
   background-color: #f8f8f8;
   border: 1px solid #d5d7d8;
   padding: 10px 29px 10px 23px;
   margin-top: 3px;
}
.default-forms__reply-error {
   display: none;
   color: #c00;
   line-height: 24px;
   padding-bottom: 10px;
}
.default-forms__reply-textarea {
   width: 100%;
   height: 100px;
   border: 1px solid #ccc;
   border-top: 1px solid #d5d7d8;
   padding: 5px;
   resize: none;
   margin-top: 10px;
   margin-bottom: 10px;
}
.default-forms__reply-textarea::placeholder {
   font-size: 14px;
}
.default-forms__reply-buttons {
   text-align: center;
   margin: 0 auto;
}
.default-forms__reply-reply, .default-forms__reply-cancel {
   display: inline-block;
   padding: 10px;
}
.default-forms__reply-cancel {
   margin-left: 5px;
   background-color: #c9c9c9;
   border-bottom: 2px solid #b4b4b4;
}
.default-forms__reply-cancel:hover {
   background-color: #dcdcdc;
   border-bottom: 2px solid #c9c9c9;
}
@media only screen and (max-width: 1130px) {
   .default-forms__expanded-view {
      display: block;
      text-align: center;
      margin: 0;
      margin-right: 25%;
  }
}
@media only screen and (max-width: 1024px) {
   .default-forms__inner {
      padding-top: 20px;
  }
   .default-forms__label {
      padding: 20px 15px 5px 0;
      display: block;
      text-align: left;
      width: 100%;
  }
   .default-forms__label-website {
      display: none;
  }
   .default-forms__expanded-view {
      display: none;
  }
   .default-forms__input-subject {
      width: 90%;
  }
   .default-forms__textarea {
      flex-direction: column;
      align-items: flex-start;
  }
   .default-forms__input-details {
      width: 95%;
  }
   .default-forms__photo {
      display: block;
      max-width: 210px;
  }
   .default-forms__captcha {
      flex-wrap: wrap;
  }
   .default-forms__submit {
      margin: 0;
      text-align: left;
  }
   .default-forms__photo-link_comments {
      display: inline-block;
  }
   .default-forms__submit-comments {
      text-align: center;
      margin: 0 auto;
  }
}
@media only screen and (max-width: 780px) {
   .default-forms {
      padding: 20px 20px 20px 20px;
  }
   .default-forms__title_light {
      text-align: left;
      font-size: 18px;
  }
   .default-forms__check-name, .default-forms__check-name-ok, .default-forms__check-subject, .default-forms__check-subject-ok, .default-forms__check-select, .default-forms__check-select-ok {
      display: none;
  }
   .default-forms__arrow {
      padding: 0 5px;
  }
   .default-forms__captcha-input {
      margin-top: 5px;
      margin-bottom: 5px;
  }
}
@media only screen and (max-width: 580px) {
   .default-forms__input-name, .default-forms__input-subject, .default-forms__select, .default-forms__input-address, .default-forms__input-website {
      max-width: none;
      width: 90%;
  }
  .default-forms__photo-link {
     padding-right: 5px;
  }
}
