body {
   font-weight: 400;
   font-family: Roboto, sans-serif;
   background: #eff0f0;
}
*::placeholder {
   font-size: 14px;
   font-family: Roboto, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
   font-weight: 400;
}
a {
   color: #105cb6;
   text-decoration: none;
   cursor: pointer;
}
.page-content {
   max-width: 1160px;
   margin: 0 auto;
   padding: 20px 50px 0;
}
.page-content__cols {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
   max-width: 1120px;
   width: 100%;
}
.page-content__left {
   max-width: 780px;
   -webkit-box-flex: 1;
   -ms-flex-positive: 1;
   flex-grow: 1;
}
.page-content__right {
   width: 340px;
   min-width: 340px;
   padding-left: 20px;
}
@media only screen and (max-width: 1200px) {
   .page-content {
       padding: 0 20px;
   }
}
@media only screen and (max-width: 780px) {
   .page-content__cols {
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
       -ms-flex-direction: column;
       flex-direction: column;
   }
   .page-content__left,
   .page-content__right {
       display: block;
       width: 100%;
       max-width: 100%;
       padding-left: 0;
       min-width: 0;
   }
}
.posts-form {
   position: relative;
   padding: 30px 40px;
   background-color: #fff;
   border-radius: 15px;
   -webkit-box-shadow: 0 0 5px 0 #e2e3e1;
   box-shadow: 0 0 5px 0 #e2e3e1;
}
.posts-form__title_dark,
.posts-form__title_light {
   border-bottom: 2px solid #d5d7d8;
   color: #999;
   font-size: 20px;
   font-weight: 400;
   line-height: 30px;
}
.posts-form__inner {
   background-color: #f8f8f8;
   padding: 34px 20px 30px 10px;
   color: #000;
}
.posts-form__label {
   display: inline-block;
   padding: 0 15px 0 0;
   width: 25%;
   font-weight: 700;
   font-size: 14px;
}
.posts-form__input-address,
.posts-form__input-details,
.posts-form__input-name,
.posts-form__input-subject,
.posts-form__input-website,
.posts-form__select {
   width: 75%;
   padding: 6px;
   border: 1px solid #ccc;
   border-top: 1px solid #9a9a9a;
   font-size: 14px;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   height: 30px;
   margin: 6px 0;
}
.posts-form__input-address::-webkit-input-placeholder,
.posts-form__input-details::-webkit-input-placeholder,
.posts-form__input-name::-webkit-input-placeholder,
.posts-form__input-subject::-webkit-input-placeholder,
.posts-form__input-website::-webkit-input-placeholder,
.posts-form__select::-webkit-input-placeholder {
   font-size: 14px;
}
.posts-form__input-address::-moz-placeholder,
.posts-form__input-details::-moz-placeholder,
.posts-form__input-name::-moz-placeholder,
.posts-form__input-subject::-moz-placeholder,
.posts-form__input-website::-moz-placeholder,
.posts-form__select::-moz-placeholder {
   font-size: 14px;
}
.posts-form__input-address:-ms-input-placeholder,
.posts-form__input-details:-ms-input-placeholder,
.posts-form__input-name:-ms-input-placeholder,
.posts-form__input-subject:-ms-input-placeholder,
.posts-form__input-website:-ms-input-placeholder,
.posts-form__select:-ms-input-placeholder {
   font-size: 14px;
}
.posts-form__input-address::-ms-input-placeholder,
.posts-form__input-details::-ms-input-placeholder,
.posts-form__input-name::-ms-input-placeholder,
.posts-form__input-subject::-ms-input-placeholder,
.posts-form__input-website::-ms-input-placeholder,
.posts-form__select::-ms-input-placeholder {
   font-size: 14px;
}
.posts-form__input-address::placeholder,
.posts-form__input-details::placeholder,
.posts-form__input-name::placeholder,
.posts-form__input-subject::placeholder,
.posts-form__input-website::placeholder,
.posts-form__select::placeholder {
   font-size: 14px;
}
.posts-form__input-address,
.posts-form__input-name,
.posts-form__input-website,
.posts-form__select {
   max-width: 300px;
   padding: 4px 6px;
}
.posts-form__input-subject {
   width: 65%;
}
.posts-form__textarea {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}
.posts-form__input-details {
   margin-left: 4px;
   width: 68%;
   height: 200px;
}
.posts-form__input-details::-webkit-input-placeholder {
   font: 14px Roboto;
}
.posts-form__input-details::-moz-placeholder {
   font: 14px Roboto;
}
.posts-form__input-details:-ms-input-placeholder {
   font: 14px Roboto;
}
.posts-form__input-details::-ms-input-placeholder {
   font: 14px Roboto;
}
.posts-form__input-details::placeholder {
   font: 14px Roboto;
}
.posts-form__check-name,
.posts-form__check-select,
.posts-form__check-subject {
   margin-left: 5px;
}
.posts-form__check-name.active,
.posts-form__check-select.active,
.posts-form__check-subject.active {
   display: none;
}
.posts-form__check-name_ok,
.posts-form__check-select_ok,
.posts-form__check-subject_ok {
   display: none;
   margin-left: 5px;
}
.posts-form__check-name_ok.active,
.posts-form__check-select_ok.active,
.posts-form__check-subject_ok.active {
   display: inline-block;
}
.posts-form__expanded-view {
   font-weight: 700;
   font-size: 14px;
   margin-left: 17px;
}
.posts-form__tip {
   position: absolute;
   right: -180px;
   background-color: #fff5d5;
   padding: 20px;
   margin-top: -10px;
   -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
   box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
   color: #999;
   z-index: 5;
   border-bottom: 1px solid #d5d7d8;
}
.posts-form__tip::before {
   content: "";
   position: absolute;
   width: 11px;
   height: 21px;
   background-image: url(../img/tip-arrow.png);
   margin: -5px 0 0 -30px;
}
.posts-form__tip-name {
   display: none;
   top: 100px;
}
.posts-form__tip-subject {
   display: none;
   top: 140px;
   right: -270px;
}
.posts-form__tip-details {
   display: none;
   top: 200px;
   right: -310px;
}
.posts-form__tip-categories {
   display: none;
   top: 400px;
}
.posts-form__tip-country {
   display: none;
   top: 450px;
   right: -220px;
}
.posts-form__tip-address {
   display: none;
   top: 480px;
   right: -230px;
}
.posts-form__tip-captcha {
   display: none;
   top: 655px;
   right: -215px;
}
.posts-form__tip-title {
   display: block;
   font-weight: 700;
   padding: 0 5px 5px 20px;
   background: url(../img/check-gray.png) 0 1px no-repeat;
}
.posts-form__tip-text {
   font-weight: 400;
   font-size: 13px;
}
.posts-form__captcha-input:hover ~ .posts-form__tip-captcha,
.posts-form__input-address:hover ~ .posts-form__tip-address,
.posts-form__input-details:hover ~ .posts-form__tip-details,
.posts-form__input-name:hover ~ .posts-form__tip-name,
.posts-form__input-subject:hover ~ .posts-form__tip-subject,
.posts-form__select-categories:hover ~ .posts-form__tip-categories,
.posts-form__select-country:hover ~ .posts-form__tip-country {
   display: block;
}
.posts-form__photo {
   overflow: auto;
   display: inline-block;
   margin-top: 20px;
   margin-bottom: 10px;
}
.posts-form__photo-link {
   border: 1px solid #ccc;
   border-radius: 4px;
   text-decoration: none;
   padding: 18px 18px 18px 62px;
   display: block;
   width: auto;
   background: url(../img/foto.png) 10px 50% no-repeat #eff0f0;
   font-size: 14px;
}
.posts-form__categories {
   background-color: #fff;
   display: none;
   position: absolute;
   top: 30px;
   left: 50%;
   -webkit-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   transform: translateX(-50%);
   z-index: 10;
   max-width: 776px;
   width: 100%;
   padding: 10px;
   font-size: 12px;
}
.posts-form__categories-close {
   display: block;
   position: absolute;
   right: 10px;
   top: 10px;
   width: 20px;
   height: 20px;
   z-index: 12;
   background: url(../img/modal_close.png) no-repeat;
}
.posts-form__categories-title {
   background-color: #64af37;
   color: #fff;
   text-align: center;
   width: 100%;
   height: 60px;
   border-bottom: 0 solid #679d19;
   font-size: 24px;
   font-weight: 400;
   line-height: 60px;
}
.posts-form__categories-radio {
   background: #f8f8f8;
   padding: 0 20px 50px;
}
.posts-form__categories-column {
   padding-top: 5px;
   display: -webkit-inline-box;
   display: -ms-inline-flexbox;
   display: inline-flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   width: 24.5%;
}
.posts-form__categories-item {
   padding: 3px 0;
}
.posts-form__categories-btn {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   width: 12px;
   height: 12px;
   vertical-align: middle;
   -o-border-image: initial;
   border-image: initial;
   border-radius: 50%;
   outline: 0;
   border: 1px solid #a9a9a9;
}
.posts-form__categories-btn::before {
   font-size: 0;
   content: "";
   display: block;
   width: 60%;
   height: 60%;
   margin: 20% auto;
   border-radius: 50%;
}
.posts-form__categories-btn:checked {
   border: 1px solid #ff8000;
}
.posts-form__categories-btn:checked::before {
   background: #ff8000;
}
.posts-form__categories-btn:hover {
   border: 1px solid #ff8000;
}
.posts-form__categories-btn:hover:before {
   background: #ff8000;
}
.posts-form__categories-label {
   display: block;
   padding: 12px 0 5px;
}
.posts-form__category-label {
   display: block;
   padding: 2px 2px 2px 17px;
}
.posts-form__categories-overlay {
   display: none;
   background-color: #000;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   opacity: 0.3;
}
.posts-form__inner-comments {
   padding: 10px 20px 20px;
}
.posts-form__title_dark {
   color: #303030;
   font-size: 18px;
}
.posts-form__comments-textarea {
   margin: 10px 0;
   width: 98%;
   height: 190px;
   border: 1px solid #ccc;
   border-top: 1px solid #9a9a9a;
   padding: 5px;
   resize: none;
}
.posts-form__comments-textarea::-webkit-input-placeholder {
   font-size: 14px;
}
.posts-form__comments-textarea::-moz-placeholder {
   font-size: 14px;
}
.posts-form__comments-textarea:-ms-input-placeholder {
   font-size: 14px;
}
.posts-form__comments-textarea::-ms-input-placeholder {
   font-size: 14px;
}
.posts-form__comments-textarea::placeholder {
   font-size: 14px;
}
.posts-form__photo-comments {
   margin-top: 0;
   margin-bottom: 30px;
}
.posts-form__submit-comments {
   padding: 10px 25px;
}
.posts-form__captcha-comments {
   margin-bottom: 20px;
}
@media only screen and (max-width: 1130px) {
   .posts-form__expanded-view {
       display: block;
       text-align: center;
       margin: 0 25% 0 0;
   }
}
@media only screen and (max-width: 1024px) {
   .posts-form__inner {
       padding-top: 20px;
   }
   .posts-form__label {
       padding: 20px 15px 5px 0;
       display: block;
       text-align: left;
       width: 100%;
   }
   .posts-form__expanded-view,
   .posts-form__label-website {
       display: none;
   }
   .posts-form__input-subject {
       width: 90%;
   }
   .posts-form__textarea {
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
       -ms-flex-direction: column;
       flex-direction: column;
       -webkit-box-align: start;
       -ms-flex-align: start;
       align-items: flex-start;
   }
   .posts-form__input-details {
       width: 95%;
   }
   .posts-form__photo {
       display: block;
       max-width: 210px;
   }
   .posts-form__captcha {
       -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   }
   .posts-form__submit {
       margin: 0;
       text-align: left;
   }
   .posts-form__photo-link_comments {
       display: inline-block;
   }
   .posts-form__submit-comments {
       text-align: center;
       margin: 0 auto;
   }
}
@media only screen and (max-width: 780px) {
   .posts-form {
       padding: 20px;
   }
   .posts-form__title_light {
       text-align: left;
       font-size: 18px;
   }
   .posts-form__check-name,
   .posts-form__check-name-ok,
   .posts-form__check-select,
   .posts-form__check-select-ok,
   .posts-form__check-subject,
   .posts-form__check-subject-ok {
       display: none;
   }
   .posts-form__arrow {
       padding: 0 5px;
   }
   .posts-form__captcha-input {
       margin-top: 5px;
       margin-bottom: 5px;
   }
}
.posts-form__reply {
   background-color: #f8f8f8;
   border: 1px solid #d5d7d8;
   padding: 10px 29px 10px 23px;
   margin-top: 3px;
}
.posts-form__reply-error {
   display: none;
   color: #c00;
   line-height: 24px;
   padding-bottom: 10px;
}
.posts-form__reply-textarea {
   width: 100%;
   height: 100px;
   border: 1px solid #ccc;
   border-top: 1px solid #d5d7d8;
   padding: 5px;
   resize: none;
   margin-top: 10px;
   margin-bottom: 10px;
}
.posts-form__reply-textarea::-webkit-input-placeholder {
   font-size: 14px;
}
.posts-form__reply-textarea::-moz-placeholder {
   font-size: 14px;
}
.posts-form__reply-textarea:-ms-input-placeholder {
   font-size: 14px;
}
.posts-form__reply-textarea::-ms-input-placeholder {
   font-size: 14px;
}
.posts-form__reply-textarea::placeholder {
   font-size: 14px;
}
.posts-form__captcha {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin-bottom: 30px;
}
.posts-form__arrow {
   padding: 0 10px;
}
.posts-form__captcha-img {
   border: 1px solid #ccc;
}
.posts-form__captcha-input {
   height: 22px;
   max-width: 62px;
   border: 1px solid #ccc;
   border-top: 1px solid #9a9a9a;
   padding: 4px;
}
.posts-form__submit {
   background-color: #ff8000;
   color: #fff;
   font-size: 14px;
   font-weight: 700;
   padding: 10px 30px;
   text-decoration: none !important;
   border: none;
   border-radius: 4px;
   border-bottom: 2px solid #c60;
   white-space: nowrap;
   display: block;
   cursor: pointer;
   text-align: center;
   margin: 0 auto;
}
.posts-form__submit:hover {
   background-color: #ffa64d;
   border-bottom: 2px solid #ee8a26;
   color: #fff;
}
.posts-form__reply-buttons {
   text-align: center;
   margin: 0 auto;
}
.posts-form__reply-cancel,
.posts-form__reply-reply {
   display: inline-block;
   padding: 10px;
}
.posts-form__reply-cancel {
   margin-left: 5px;
   background-color: #c9c9c9;
   border-bottom: 2px solid #b4b4b4;
}
.posts-form__reply-cancel:hover {
   background-color: #dcdcdc;
   border-bottom: 2px solid #c9c9c9;
}
.posts-form__contact-form {
   width: 100%;
   max-width: 404px;
   margin: 0 auto;
}
.posts-form__contact-input,
.posts-form__contact-message {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   display: block;
   margin-bottom: 20px;
   width: 100%;
   max-width: 404px;
   height: 52px;
   position: relative;
   z-index: 10;
   border-radius: 8px;
   background-color: transparent;
   border: 2px solid #d4d4d6;
   padding: 0 10px;
   outline: 0;
}
.posts-form__contact-input:focus,
.posts-form__contact-message:focus {
   border: 2px solid #97979b;
}
.posts-form__contact-input:focus + .posts-form__contact-label,
.posts-form__contact-message:focus + .posts-form__contact-label {
   background-color: #fff;
   top: 0;
   z-index: 11;
   font-size: 10px;
   height: 1em;
   padding-top: 0;
}
.posts-form__contact-input:focus + .posts-form__contact-label br,
.posts-form__contact-message:focus + .posts-form__contact-label br {
   display: none;
}
.posts-form__contact-message {
   height: 180px;
   resize: none;
   padding: 10px;
   margin-bottom: 20px;
}
.posts-form__contact-btn {
   background: #315bb4;
   height: 44px;
   width: 200px;
   color: #fff;
   font-size: 16px;
   font-weight: 700;
   border-radius: 8px;
   cursor: pointer;
   outline: 0;
   display: block;
   text-align: center;
   margin: 40px auto 0;
   -webkit-transition: 0.2s;
   -o-transition: 0.2s;
   transition: 0.2s;
}
.posts-form__contact-btn:hover {
   background: #1f3972;
}
.posts-form__contact-item {
   position: relative;
   background-color: #fff;
   border-radius: 8px;
}
.posts-form__contact-label {
   display: -webkit-inline-box;
   display: -ms-inline-flexbox;
   display: inline-flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-transition: 0.25s ease-in-out;
   -o-transition: 0.25s ease-in-out;
   transition: 0.25s ease-in-out;
   position: absolute;
   max-width: calc(100% - 32px);
   left: 16px;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   height: 100%;
   overflow: hidden;
   color: #909095;
   font-size: 16px;
   font-weight: 700;
}
.posts-form__contact-label_message {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: start;
   -ms-flex-align: start;
   align-items: flex-start;
   padding-top: 30px;
}
.posts-form__contact-error {
   display: none;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   width: 100%;
   background: #b22470;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
   color: #fff;
   font-size: 11px;
   padding: 7px 16px 9px;
   position: absolute;
   bottom: -21px;
   z-index: 15;
}
.posts-form__contact-error.active {
   display: block;
}
.posts-form__contact-error.active + .posts-form__contact-input {
   margin-bottom: 40px;
   border-color: #b22470;
}
.posts-form__contact-error.active + .posts-form__contact-message {
   margin-bottom: 60px;
}
