@function explode( $delimiter, $string )
{
    @if type-of( $string ) != "string" {
        @error "Argument '#{$string}' is not string type";
    }
    
    @if type-of( $delimiter ) != "string" {
        @error "Argument '#{$delimiter}' is not string type";
    }
    
    $return: ();
    $running: true;
    
    @while $running {
        $index: str-index( $string, $delimiter );
        
        @if $index != null {
            $item: str-slice( $string, 1, ( $index - 1 ) );
            $return: append( $return, $item );
            $string: str-slice( $string, ( $index + str-length( $delimiter ) ) );
        }@else{
            $running: false;
        }
    }
    
    @return append( $return, $string );
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}