body {
   font-weight: 400;
   font-family: Roboto, sans-serif;
   background: #eff0f0;
}
*::placeholder {
   font-size: 14px;
   font-family: Roboto, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
   font-weight: 400;
}
a {
   color: #105cb6;
   text-decoration: none;
   cursor: pointer;
}
.page-content {
   max-width: 1160px;
   margin: 0 auto;
   padding: 0 50px;
}
.page-content__cols {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
   max-width: 1120px;
   width: 100%;
}
.page-content__left {
   max-width: 780px;
   -webkit-box-flex: 1;
   -ms-flex-positive: 1;
   flex-grow: 1;
}
.page-content__right {
   width: 340px;
   min-width: 340px;
   padding-left: 20px;
}
@media only screen and (max-width: 1200px) {
   .page-content {
       padding: 0 20px;
   }
}

@media only screen and (max-width: 780px) {
   .page-content__cols {
      flex-direction: column;
   }
   .page-content__left,
   .page-content__right {
      display: block;
      width: 100%;
      max-width: 100%;
      padding-left: 0;
      min-width: 0;
   }
}

.posts-form {
   position: relative;
   padding: 30px 40px;
   background-color: white;
   border-radius: 15px;
   box-shadow: 0 0 5px 0 #e2e3e1;
}
.posts-form__comment-border {
   border-top-right-radius: 0;
   border-top-left-radius: 0;
}
.posts-form__title_light, .posts-form__title_dark {
   border-bottom: 2px solid #d5d7d8;
   color: #999;
   font-size: 20px;
   font-weight: normal;
   line-height: 30px;
}
.posts-form__inner {
   background-color: #f8f8f8;
   padding: 34px 20px 30px 10px;
   color: #000;
}
.posts-form__inner-comments {
   padding: 10px 20px 20px;
}
.posts-form__title_dark {
   color: #303030;
   font-size: 18px;
}
.posts-form__photo {
   overflow: auto;
   display: inline-block;
   margin-top: 20px;
   margin-bottom: 10px;
}
.posts-form__photo-link {
   border: 1px solid #ccc;
   border-radius: 4px;
   text-decoration: none;
   padding: 18px 18px 18px 62px;
   display: block;
   width: auto;
   background: url(../img/foto.png) 10px 50% no-repeat #eff0f0;
   font-size: 14px;
}
.posts-form__captcha {
   display: flex;
   align-items: center;
   margin-bottom: 30px;
}
.posts-form__arrow {
   padding: 0 10px;
}
.posts-form__captcha-img {
   border: 1px solid #ccc;
}
.posts-form__captcha-input {
   height: 22px;
   max-width: 62px;
   border: 1px solid #ccc;
   border-top: 1px solid #9a9a9a;
   padding: 4px;
}
.posts-form__submit {
   background-color: #ff8000;
   color: white;
   font-size: 14px;
   font-weight: bold;
   padding: 10px 30px;
   text-decoration: none !important;
   border: none;
   border-radius: 4px;
   border-bottom: 2px solid #c60;
   white-space: nowrap;
   display: block;
   cursor: pointer;
   text-align: center;
   margin: 0 auto;
}
.posts-form__submit:hover {
   background-color: #ffa64d;
   border-bottom: 2px solid #ee8a26;
   color: #fff;
}
.posts-form__comments-textarea {
   margin: 0px;
   width: 98%;
   height: 190px;
   border: 1px solid #ccc;
   border-top: 1px solid #9a9a9a;
   padding: 5px;
   margin: 10px 0;
   resize: none;
}
.posts-form__comments-textarea::placeholder {
   font-size: 14px;
}
.posts-form__photo-comments {
   margin-top: 0;
   margin-bottom: 30px;
}
.posts-form__submit-comments {
   padding: 10px 25px;
}
.posts-form__captcha-comments {
   margin-bottom: 20px;
}
.posts-form__reply {
   background-color: #f8f8f8;
   border: 1px solid #d5d7d8;
   padding: 10px 29px 10px 23px;
   margin-top: 3px;
}
.posts-form__reply-error {
   display: none;
   color: #c00;
   line-height: 24px;
   padding-bottom: 10px;
}
.posts-form__reply-textarea {
   width: 100%;
   height: 100px;
   border: 1px solid #ccc;
   border-top: 1px solid #d5d7d8;
   padding: 5px;
   resize: none;
   margin-top: 10px;
   margin-bottom: 10px;
}
.posts-form__reply-textarea::placeholder {
   font-size: 14px;
}
.posts-form__reply-buttons {
   text-align: center;
   margin: 0 auto;
}
.posts-form__reply-reply, .posts-form__reply-cancel {
   display: inline-block;
   padding: 10px;
}
.posts-form__reply-cancel {
   margin-left: 5px;
   background-color: #c9c9c9;
   border-bottom: 2px solid #b4b4b4;
}
.posts-form__reply-cancel:hover {
   background-color: #dcdcdc;
   border-bottom: 2px solid #c9c9c9;
}
@media only screen and (max-width: 1024px) {
   .posts-form__captcha {
      flex-wrap: wrap;
  }
   .posts-form__photo-link_comments {
      display: inline-block;
  }
   .posts-form__submit-comments {
      text-align: center;
      margin: 0 auto;
  }
}
@media only screen and (max-width: 780px) {
   .posts-form {
      padding: 20px 20px 20px 20px;
  }
   .posts-form__title_light {
      text-align: left;
      font-size: 18px;
  }
   .posts-form__arrow {
      padding: 0 5px;
  }
   .posts-form__captcha-input {
      margin-top: 5px;
      margin-bottom: 5px;
  }
}




