body {
   font-weight: 400;
   font-family: Roboto, sans-serif;
   background: #eff0f0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
   font-weight: 400;
}
a {
   color: #105cb6;
   text-decoration: none;
   cursor: pointer;
}
.page-content {
   max-width: 780px;
   -webkit-box-flex: 1;
   -ms-flex-positive: 1;
   flex-grow: 1;
   margin: 0 auto;
   padding: 0 10px;
}
.complaint-is-resolved {
   background: rgba(136, 187, 139, 0.15);
   border-left: 3px solid #88bb8b;
   padding: 8px 8px 8px 15px;
   margin: 10px 0 5px;
   color: #333;
   font-size: 16px;
   line-height: 26px;
}
.complaint-is-resolved__title {
   font-size: 16px;
   line-height: 26px;
   font-weight: 700;
   color: green;
}
.complaint-is-resolved__date {
   display: block;
   margin-bottom: 15px;
   color: #999;
}
.complaint-is-resolved__text {
   padding-top: 7px;
   color: #333;
}

