@import 'green-dialogs-base.scss';

.green-dialogs {
   &__registration {
      position: relative;
      background: #fff;
      padding: 10px;
      max-width: 450px;
      box-sizing: border-box;
   }
   &__form-inner {
      margin: 20px 0 0;
   }
   &__registration-errors {
      padding: 16px 40px;
      list-style-type: square;
      background: #ffd7d7;
      display: block;
      color: red;
   }
   &__step-1 {
      overflow: hidden;
   }
   &__email-wrapper {
      margin-bottom: 10px;
      padding: 0 40px;
   }
   &__username-label {
      text-align: right;
      padding-right: 20px;
      width: 90px;
      display: inline-block;
      font-weight: 700;
      margin-top: 6px;
   }
   &__username-input {
      margin: 0;
      max-width: 200px;
      width: 100%;
      padding: 5px;
      border-color: #ccc;
      &:focus {
         outline: 0;
         border-color: #9acb53;
         box-shadow: 0 0 3px #9acb53;
      }
   }
   &__submit-login {
      background: #e5e5e5;
      padding: 4px;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;
      border-radius: 3px;
   }
   &__submit-login_input {
      width: 105px;
      height: 30px;
      background: url(/fw/btn_bg.png) no-repeat;
      color: #fff;
      font-weight: 400;
      font-size: 14px;
      border: 0;
      cursor: pointer;
   }
   &__prev {
      display: inline-block;
      width: 112px;
      padding-left: 40px;
      font-weight: 700;
   }
}