
body {
   font-weight: 400;
   font-family: "Roboto", sans-serif;
   background: #eff0f0;
}

h1,h2,h3,h4,h5,h6 {
   margin: 0;
   padding: 0;
   font-weight: 400;
}

a {
   color: #105cb6;
   text-decoration: none;
   cursor: pointer;
}

.green-dialogs {
   left: 50%;
   top: 0;
   transform: translate(-50%);
   width: 100%;
   max-width: 450px;
   z-index: 10;
   position: absolute;
   &__registration,
   &__user,
   &__email {
      position: relative;
      background: #fff;
      padding: 10px;
      max-width: 450px;
      box-sizing: border-box;
   }
   &__closemodal {
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 7;
   }
   &__closemodal-link {
      display: block;
      width: 20px;
      height: 20px;
      background: url(/img/modal_close.png) no-repeat;
   }
   &__container {
      background: #f8f8f8;
      overflow: hidden;
   }
   &__title-wrapper {
      background-color: #64af37;
      color: #fff;
      text-align: center;
      width: 100%;
      height: 60px;
      display: table;
      border-bottom: 0 solid #679d19;
   }
   &__title {
      font-size: 24px;
      line-height: 24px;
      display: table-cell;
      vertical-align: middle;
      font-weight: 400;
   }
   &__steps {
      text-align: center;
      top: 80px;
      left: 50%;
      margin-left: -90px;
      position: absolute;
   }
   &__note,
   &__noteOptional {
      color: #666;
      text-align: center;
      border-bottom: 1px dotted #666;
      padding: 15px;
   }
   &__note-link {
      font-weight: 700;
   }
   &__noteOptional {
      padding-top: 30px;
   }
   &__bussinesNote {
      background-color: #fdedb2;
      text-align: center;
      color: #333333;
      padding: 12px 0;
      line-height: 20px;
   }
   &__form-inner {
      margin: 20px 0 0;
   }
   &__registration-errors {
      padding: 16px 40px;
      list-style-type: square;
      background: #ffd7d7;
      display: block;
      color: red;
   }
   &__step-1 {
      overflow: hidden;
   }
   &__connect {
      padding: 0 40px 20px;
      color: #666;
      vertical-align: top;
      max-width: 295px;
      text-align: center;
      width: 100%;
   }
   &__connect-label {
      vertical-align: top;
      font-weight: 400;
      padding-top: 3px;
      width: 100px;
      display: inline-block;
      margin-top: 6px;
   }
   &__connect-icons {
      display: inline-block;
   }
   &__connect-images {
      width: 32px;
      height: 32px;
   }
   &__or {
      line-height: 30px;
      font-size: 13px;
      vertical-align: top;
   }
   &__username,
   &__email-wrapper,
   &__password,
   &__code {
      margin-bottom: 10px;
      padding: 0 40px;
   }
   &__username-label,
   &__email-label,
   &__password-label,
   &__code-label {
      text-align: right;
      padding-right: 20px;
      width: 90px;
      display: inline-block;
      font-weight: 700;
      margin-top: 6px;
   }
   &__username-input,
   &__email-input,
   &__password-input,
   &__code-input {
      margin: 0;
      max-width: 200px;
      width: 100%;
      padding: 5px;
      border-color: #ccc;
      &:focus {
         outline: 0;
         border-color: #9acb53;
         box-shadow: 0 0 3px #9acb53;
      }
   }
   &__password-input {
      max-width: 140px;
   }
   &__password-input_user {
      max-width: 200px;
   }
   &__code-label {
      vertical-align: top;
      margin-top: 15px;
   }
   &__code-arrow {
      padding: 0 10px;
      vertical-align: top;
      margin-top: 15px;
   }
   &__code-input {
      max-width: 64px;
   }
   &__submit-wrapper {
      padding: 20px;
      background-color: #eff0f0;
      width: 100%;
      height: 40px;
      display: table;
      border-top: 1px solid #d5d7d8;
      text-align: center;
      box-sizing: border-box;
   }
   &__submit {
      background-color: #ff8000;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      padding: 10px;
      text-decoration: none!important;
      border-radius: 4px;
      border-bottom: 2px solid #c60;
      white-space: nowrap;
      display: inline-block;
      &:hover {
         background-color: #ffa64d;
         border-bottom: 2px solid #ee8a26;
         color: #fff;
      }
   }
   &__submit-login {
      background: #e5e5e5;
      padding: 4px;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;
      border-radius: 3px;
   }
   &__submit-login_input {
      width: 105px;
      height: 30px;
      background: url(/fw/btn_bg.png) no-repeat;
      color: #fff;
      font-weight: 400;
      font-size: 14px;
      border: 0;
      cursor: pointer;
   }
   &__prev {
      display: inline-block;
      width: 112px;
      padding-left: 40px;
      font-weight: 700;
   }

   &__view-pictures {
      background-color: #fff;
      padding: 10px;
      box-sizing: border-box;
      max-width: 1146px;
      position: absolute;
      z-index: 120;
      display: none;
   }
   &__view-pictures-inner {
      padding: 15px;
      text-align: center;
   }
   &__page-links {
      text-align: center;
      padding-top: 10px;
      width: 100%;
      margin: 15px;
      margin-right: 0;
      display: inline-block;
      overflow: hidden;
      vertical-align: top;
   }
}



