body {
   font-weight: 400;
   font-family: Roboto, sans-serif;
   background: #eff0f0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
   font-weight: 400;
}
a {
   color: #105cb6;
   text-decoration: none;
   cursor: pointer;
}
.page-content {
   max-width: 1160px;
   margin: 0 auto;
   padding: 0 50px;
}
.page-content__cols {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
   max-width: 1120px;
   width: 100%;
}
.page-content__left {
   max-width: 780px;
   -webkit-box-flex: 1;
   -ms-flex-positive: 1;
   flex-grow: 1;
}
.category-bn {
   width: 100%;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   padding: 20px;
   background-color: #fff;
   border-radius: 15px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   cursor: pointer;
}
.category-bn:hover {
   -webkit-box-shadow: 0 0 5px 0 #cccfcf;
   box-shadow: 0 0 5px 0 #cccfcf;
}
.category-bn__logo-border,
.category-bn__left {
   width: 64px;
   height: 64px;
   min-width: 64px;
}
.category-bn__left {
   position: relative;
}
.category-bn__logo-border {
   border: 1px solid #ccc;
   border-radius: 50%;
}
.category-bn__logo-image {
   background-position: 50% 50%;
   background-repeat: no-repeat;
   background-size: contain;
   width: calc(100% - 6px);
   height: calc(100% - 6px);
   border-radius: 50%;
   overflow: hidden;
}
.category-bn__logo-image,
.category-bn__logo-border {
   position: absolute;
   top: 43%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
.category-bn__right {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   padding-left: 15px;
}
.category-bn__title {
   font: 400 24px Roboto;
   color: #333;
   word-break: break-word;
}
.category-bn__info {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   color: #999;
   font-size: 14px;
}
.category-bn__stars {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding-right: 5px;
}
.category-bn__stars.category-bn__stars_1 .category-bn__star:nth-child(1) {
   background: url(img/bnstar-24.svg) 50% 50% no-repeat;
}
.category-bn__stars.category-bn__stars_2 .category-bn__star:nth-child(-n + 2) {
   background: url(img/bnstar-24.svg) 50% 50% no-repeat;
}
.category-bn__stars.category-bn__stars_3 .category-bn__star:nth-child(-n + 3) {
   background: url(img/bnstar-24.svg) 50% 50% no-repeat;
}
.category-bn__stars.category-bn__stars_4 .category-bn__star:nth-child(-n + 4) {
   background: url(img/bnstar-24.svg) 50% 50% no-repeat;
}
.category-bn__stars.category-bn__stars_5 .category-bn__star:nth-child(-n + 5) {
   background: url(img/bnstar-24.svg) 50% 50% no-repeat;
}
.category-bn__star {
   background: url(img/bnstarf-24-emp.svg) 50% 50% no-repeat;
   width: 24px;
   height: 24px;
   padding-right: 2px;
}
.category-bn__stats {
   padding-top: 5px;
   font-weight: 500;
}
.category-bn__complaints,
.category-bn__resolved {
   text-transform: uppercase;
}
.category-bn__number {
   color: #000;
   padding: 0 10px 0 5px;
}
.category-bn__number--green {
   color: #00a684;
   padding: 0 10px 0 5px;
}

@media only screen and (max-width: 1200px) {
   .page-content {
       padding: 0 20px;
   }
}
@media only screen and (max-width: 780px) {
   .page-content {
       padding: 0 10px;
   }
   .page-content__cols {
       margin-right: 0;
       -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   }
   .page-content__left {
       width: 100%;
       -webkit-box-flex: 0;
       -ms-flex: 0 0 100%;
       flex: 0 0 100%;
       max-width: 100%;
       padding-left: 0;
       min-width: 0;
   }
}
@media only screen and (max-width: 590px) {
   .category-bn__info {
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
       -ms-flex-direction: column;
       flex-direction: column;
       -webkit-box-align: start;
       -ms-flex-align: start;
       align-items: flex-start;
   }
   .category-bn__star {
       background: url(img/bnstarf-16-emp.svg) 50% 50% no-repeat;
       width: 16px;
       height: 16px;
   }
   .category-bn__stars.category-bn__stars_1 .category-bn__star:nth-child(1) {
       background: url(img/bnstar-16.svg) 50% 50% no-repeat;
   }
   .category-bn__stars.category-bn__stars_2 .category-bn__star:nth-child(-n + 2) {
       background: url(img/bnstar-16.svg) 50% 50% no-repeat;
   }
   .category-bn__stars.category-bn__stars_3 .category-bn__star:nth-child(-n + 3) {
       background: url(img/bnstar-16.svg) 50% 50% no-repeat;
   }
   .category-bn__stars.category-bn__stars_4 .category-bn__star:nth-child(-n + 4) {
       background: url(img/bnstar-16.svg) 50% 50% no-repeat;
   }
   .category-bn__stars.category-bn__stars_5 .category-bn__star:nth-child(-n + 5) {
       background: url(img/bnstar-16.svg) 50% 50% no-repeat;
   }
   .category-bn__complaints,
   .category-bn__resolved {
       display: -webkit-inline-box;
       display: -ms-inline-flexbox;
       display: inline-flex;
   }
}