body {
   font-weight: 400;
   font-family: Roboto, sans-serif;
   /* background: #eff0f0; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
   font-weight: 400;
}
a {
   color: #105cb6;
   text-decoration: none;
   cursor: pointer;
}

.page-content {
   max-width: 1160px;
    margin: 0 auto;
    padding: 0 50px;
}

.page-content__cols {
   display: flex;
    flex-direction: row;
    max-width: 1120px;
    width: 100%;
}

.page-content__left {
   max-width: 780px;
   flex-grow: 1;
}

.page-content__right {
   width: 340px;
   min-width: 340px;
   padding-left: 20px;
}

.view-complaint-author {
   vertical-align: middle;
   color: #999;
   font-size: 13px;
   padding: 0 0 6px;
}
.view-complaint-author__link-inner img {
   width: 20px;
   height: 20px;
}

.view-complaint-author__name {
   color: #4a8a29;
   text-decoration: none;
}

.view-complaint-author__bname_no_logo {
   width: 60px;
   height: 60px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   color: #fff;
   border-radius: 50%;
   font-size: 18px;
   font-weight: 700;
   user-select: none;
}
.view-complaint-author__bname_no_logo.P{
   background-color: #c9a;
}
.view-complaint-author__bname_no_logo.s20 {
   width: 24px;
   height: 24px;
   font-size: 14px;
}

.view-complaint {
   width: 100%;
}
.view-complaint__title-wrapper {
   padding-top: 20px;
}
.view-complaint__title {
   font-size: 28px;
   line-height: 30px;
   display: inline;
   word-break: break-word;
}
.view-complaint__resolved {
   color: #008000;
}
.view-complaint__last-date {
   font-size: 12px;
   float: right;
   padding: 0 10px 5px 0;
}
.view-complaint__h6 {
   height: 6px;
}
.view-complaint__text {
   text-align: left;
   font-size: 16px;
   line-height: 24px;
   padding-bottom: 6px;
   box-sizing: border-box;
}
.view-complaint__in-ads {
   display: flex;
   width: 100%;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   padding-bottom: 40px;
   box-sizing: border-box;
   position: relative;
}
.view-complaint__in-ads.middle {
   max-width: 820px;
}
.view-complaint__in-ads header {
   height: 40px;
   display: flex;
   box-sizing: border-box;
   align-items: flex-end;
   font-size: 11px;
   color: #8a8d92;
   padding-bottom: 5px;
}
.view-complaint__add-comment {
   white-space: nowrap;
   padding: 8px 0;
   color: #999;
   font-size: 13px;
}
.view-complaint__add-comment-img {
   vertical-align: middle;
}
.view-complaint__add-comment-link {
   color: #4a8a29;
   text-decoration: none;
}
.view-complaint__socials {
   padding: 8px 0;
   text-align: right;
}
.view-complaint__social {
   margin-left: 5px;
}
.view-complaint__social-link {
   display: inline-block;
   box-sizing: border-box;
   position: relative;
   height: 30px;
   line-height: 30px;
   border-radius: 3px;
   color: #fff;
   margin: 0;
   text-decoration: none;
   font-weight: 500;
   font-size: 12px;
   padding: 0 10px 0 28px;
   transition: all 0.2s ease-in-out;
}
.view-complaint__social-link.fb {
   background-color: #3b5998;
}
.view-complaint__social-link.fb:before {
   background-position: 0 -16px;
}
.view-complaint__social-link.tw {
   background: #00acee;
}
.view-complaint__social-link.tw:before {
   background-position: 0 0;
}
.view-complaint__social-link:before {
   content: "";
   position: absolute;
   width: 16px;
   height: 16px;
   left: 8px;
   margin-top: 7px;
   background: url(../img/sprite.svg);
   background-size: 31px 31px;
   background-repeat: no-repeat;
   transition: all 0.3s ease-in-out;
   shape-rendering: optimizeQuality;
   transform: scale(1.2);
}
