@import "view-complaint-author.scss";

.view-complaint {
   width: 100%;
   &__title-wrapper {
      padding-top: 20px;
   }

   &__title {
      font-size: 28px;
      line-height: 30px;
      display: inline;
      word-break: break-word;
   }

   &__resolved {
      color: #008000;
   }

   &__last-date {
      font-size: 12px;
      float: right;
      padding: 0 10px 5px 0;
   }

   &__h6 {
      height: 6px;
   }

   &__text {
      text-align: left;
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 6px;
      box-sizing: border-box;
   }

   &__in-ads {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-bottom: 40px;
      box-sizing: border-box;
      position: relative;
      &.middle {
         max-width: 820px;
      }
      header {
         height: 40px;
         display: flex;
         box-sizing: border-box;
         align-items: flex-end;
         font-size: 11px;
         color: #8a8d92;
         padding-bottom: 5px;
      }
   }

   &__add-comment {
      white-space: nowrap;
      padding: 8px 0;
      color: #999;
      font-size: 13px;
   }

   &__add-comment-img {
      vertical-align: middle;
   }

   &__add-comment-link {
      color: #4a8a29;
      text-decoration: none;
   }

   &__socials {
      padding: 8px 0;
      text-align: right;
   }

   &__social {
      margin-left: 5px;
   }

   &__social-link {
      display: inline-block;
      box-sizing: border-box;
      position: relative;
      height: 30px;
      line-height: 30px;
      border-radius: 3px;
      color: #fff;
      margin: 0;
      text-decoration: none;
      font-weight: 500;
      font-size: 12px;
      padding: 0 10px 0 28px;
      transition: all 0.2s ease-in-out;
      &.fb {
         background-color: #3b5998;
         &:before {
            background-position: 0 -16px;
         }
      }
      &.tw {
         background: #00acee;
         &:before {
            background-position: 0 0;
         }
      }
      &:before {
         content: "";
         position: absolute;
         width: 16px;
         height: 16px;
         left: 8px;
         margin-top: 7px;
         background: url(/img/sprite.svg);
         background-size: 31px 31px;
         background-repeat: no-repeat;
         transition: all 0.3s ease-in-out;
         shape-rendering: optimizeQuality;
         transform: scale(1.2);
      }
   }
}
