body {
   font-weight: 400;
   font-family: "Roboto", sans-serif;
   background: #eff0f0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
   font-weight: 400;
}

a {
   color: #105cb6;
   text-decoration: none;
   cursor: pointer;
}

.page-content {
   max-width: 1160px;
   margin: 0 auto;
   padding: 0 50px;
   padding-top: 20px;
   &__cols {
      display: flex;
      flex-direction: row;
      max-width: 1120px;
      width: 100%;
   }
   &__left {
      max-width: 780px;
      flex-grow: 1;
   }
   &__right {
      width: 340px;
      min-width: 340px;
      padding-left: 20px;
   }
}

@media only screen and (max-width: 1200px) {
   .page-content {
      padding: 0 20px;
   }
}
@media only screen and (max-width: 780px) {
   .page-content {
      &__cols {
         flex-direction: column;
      }
      &__left,
      &__right {
         display: block;
         width: 100%;
         max-width: 100%;
         padding-left: 0;
         min-width: 0;
      }
   }
}

.default-forms {
   position: relative;
   padding: 30px 40px;
   background-color: white;
   border-radius: 15px;
   box-shadow: 0 0 5px 0 #e2e3e1;
   &__title_dark {
      border-bottom: 2px solid #d5d7d8;
      color: #999;
      font-size: 20px;
      font-weight: normal;
      line-height: 30px;
      display: block;
   }
   &__title_light {
      border-bottom: 2px solid #d5d7d8;
      color: #999;
      font-size: 20px;
      font-weight: normal;
      line-height: 30px;
   }
   &__inner {
      background-color: #f8f8f8;
      padding: 10px 20px 30px 10px;
      color: #000;
   }
   &__wrapper {
      position: relative;
   }
   &__errors {
      margin: 0;
      padding: 0;
      color: #c00;
      line-height: 24px;
      li {
         padding-bottom: 10px;
      }
   }
   &__clear {
      margin-left:5px;
      font-weight:bold;
      display:none;
   }
   &__type-comment {
      text-align: center;
      display: none;
   }
   &__type-comment_complaint {
      vertical-align: bottom;
      margin-left: 20px;
   }
   &__type-comment_positive {
      vertical-align: bottom;
      margin-left: 15px;
   }
   &__type-comment_neutral {
      vertical-align: bottom;
      margin-left: 15px;
   }
   &__label {
      display: inline-block;
      padding: 0 15px 0 0;
      width: 25%;
      font-weight: 700;
      font-size: 14px;
   }
   &__input-name,
   &__input-subject,
   &__input-details,
   &__input-address,
   &__input-custom,
   &__input-website,
   &__select {
      width: 75%;
      padding: 6px;
      border: 1px solid #cccccc;
      border-top: 1px solid #9a9a9a;
      font-size: 14px;
      box-sizing: border-box;
      height: 30px;
      margin: 6px 0;
      &::placeholder {
         font-size: 14px;
      }
   }
   &__input-name,
   &__input-address,
   &__input-website,
   &__input-custom,
   &__select {
      max-width: 300px;
      padding: 4px 6px;
   }
   &__input-subject {
      width: 65%;
   }
   &__textarea {
      display: flex;
      align-items: center;
   }
   &__input-details {
      width: 68%;
      height: 200px;
      &::placeholder {
         font: normal 14px Roboto;
      }
   }
   &__check-name,
   &__check-subject,
   &__check-custom,
   &__check-select {
      margin-left: 5px;
   }
   &__check-name,
   &__check-subject,
   &__check-custom,
   &__check-select {
      &.active {
         display: none;
      }
   }
   &__check-name_ok,
   &__check-subject_ok,
   &__check-select_ok {
      display: none;
      margin-left: 5px;
      &.active {
         display: inline-block;
      }
   }
   &__expanded-view {
      font-weight: 700;
      font-size: 14px;
      margin-left: 17px;
   }
   &__tip {
      position: absolute;
      top: 0;
      right: -215px;
      background-color: #fff5d5;
      padding: 20px;
      margin-top: -10px;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
      color: #999;
      z-index: 5;
      border-bottom: 1px solid #d5d7d8;
      &::before {
         content: "";
         position: absolute;
         width: 11px;
         height: 21px;
         background-image: url(../img/tip-arrow.png);
         margin: -5px 0 0 -30px;
      }
   }
   &__tip-subject {
      right: -300px;
   }
   &__tip-details {
      right: -340px;
   }
   &__tip-title {
      display: block;
      font-weight: 700;
      padding: 0 5px 5px 20px;
      background: url(../img/check-gray.png) no-repeat 0 1px;
   }
   &__tip-text {
      font-weight: 400;
      font-size: 13px;
   }
   &__input-name:hover ~ .default-forms__tip-name,
   &__input-subject:hover ~ .default-forms__tip-subject,
   &__input-details:hover ~ .default-forms__tip-details,
   &__select-categories:hover ~ .default-forms__tip-categories,
   &__select-country:hover ~ .default-forms__tip-country,
   &__input-address:hover ~ .default-forms__tip-address,
   &__captcha-input:hover ~ .default-forms__tip-captcha {
      display: block;
   }
   &__photo {
      overflow: auto;
      display: inline-block;
      margin-bottom: 10px;
   }
   &__photo-link {
      border: 1px solid #ccc;
      border-radius: 4px;
      text-decoration: none;
      padding: 18px 18px 18px 62px;
      display: block;
      width: auto;
      background: url(../img/foto.png) 10px 50% no-repeat #eff0f0;
      font-size: 14px;
   }
   &__progress {
      margin-left: calc(25% + 15px);
      width: 300px;
      padding:1px; 
	   border:1px solid #aaaaaa;
      display:none;
      margin-bottom: 10px;
   }
   &__progress-inner {
      background:#64af37;
	   height:4px;
   }
   &__captcha {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
   }
   &__arrow {
      padding: 0 10px;
   }
   &__captcha-img {
      border: 1px solid #ccc;
   }
   &__captcha-input {
      height: 22px;
      max-width: 62px;
      border: 1px solid #cccccc;
      border-top: 1px solid #9a9a9a;
      padding: 4px;
   }
   &__buttons {
      text-align: center;
      padding: 20px 20px 0;
   }
   &__submit-wrapper {
      text-align: center;
      margin: 0 auto;
   }
   &__submit {
      background-color: #ff8000;
      color: white;
      font-size: 14px;
      font-weight: bold;
      padding: 10px 30px;
      text-decoration: none !important;
      border: none;
      border-radius: 4px;
      max-width: 110px;
      border-bottom: 2px solid #c60;
      white-space: nowrap;
      display: inline-block;
      cursor: pointer;
      text-align: center;
      margin: 0 auto;
      &:hover {
         background-color: #ffa64d;
         border-bottom: 2px solid #ee8a26;
         color: #fff;
      }
   }
   &__categories {
      background-color: #fff;
      display: none;
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      max-width: 776px;
      width: 100%;
      font-size: 12px;
      padding: 10px;
   }
   &__categories-close {
      display: block;
      position: absolute;
      right: 10px;
      top: 10px;
      width: 20px;
      height: 20px;
      z-index: 12;
      background: url(../img/modal_close.png) no-repeat;
   }
   &__categories-title {
      background-color: #64af37;
      color: #fff;
      text-align: center;
      width: 100%;
      height: 60px;
      border-bottom: 0 solid #679d19;
      font-size: 24px;
      font-weight: normal;
      line-height: 60px;
   }
   &__categories-radio {
      background: #f8f8f8;
      padding: 0px 20px 50px 20px;
   }
   &__categories-column {
      padding-top: 5px;
      display: inline-flex;
      flex-direction: column;
      width: 24.5%;
   }
   &__categories-item {
      padding: 3px 0;
   }
   &__categories-btn {
      appearance: none;
      width: 12px;
      height: 12px;
      vertical-align: middle;
      border-width: 1px;
      border-style: solid;
      border-color: darkgrey;
      border-image: initial;
      border-radius: 50%;
      outline: 0px;
      &::before {
         font-size: 0;
         content: "";
         display: block;
         width: 60%;
         height: 60%;
         margin: 20% auto;
         border-radius: 50%;
      }
      &:checked {
         border: 1px solid #ff8000;
      }
      &:checked::before {
         background: #ff8000;
      }
      &:hover {
         border: 1px solid #ff8000;
      }
      &:hover:before {
         background: #ff8000;
      }
   }
   &__categories-label {
      display: block;
      padding: 12px 0 5px;
   }
   &__category-label {
      display: block;
      padding: 2px;
      padding-left: 17px;
   }
   &__categories-overlay {
      display: none;
      background-color: #000;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.3;
   }
   &__inner-comments {
      padding: 10px 20px 20px;
   }
   &__title_dark {
      color: #303030;
      font-size: 18px;
   }
   &__comments-textarea {
      margin: 0px;
      width: 98%;
      height: 190px;
      border: 1px solid #ccc;
      border-top: 1px solid #9a9a9a;
      padding: 5px;
      margin: 10px 0;
      resize: none;
      &::placeholder {
         font-size: 14px;
      }
   }
   &__photo-comments {
      margin-top: 0;
      margin-bottom: 30px;
   }
   &__progress {
      padding: 1px;
      border: 1px solid #aaaaaa;
      max-width: 300px;
      & > div {
         background: #64af37;
         height: 4px;
      }
   }
   &__image-list {
      & > div {
         display: inline-block;
         margin: 0 5px 5px 0;
         border: 2px solid #fff;
         box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
         border-radius: 3px;
         position: relative;
         background-size: cover;
         background-position: 50% 50%;
         background-repeat: no-repeat;
         width: 110px;
         height: 90px;
      }
      & > div.del {
         &:hover::after {
            display: block;
         }
         &::after {
            content: attr(title);
            display: none;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #b9483e;
            opacity: 0.7;
            font-size: 10px;
            padding: 10px;
            text-align: center;
            color: white;
         }
      }
   }
   &__submit-comments {
      padding: 10px 25px;
      display: inline-block;
   }
   &__captcha-comments {
      margin-bottom: 20px;
   }
   &__reply {
      background-color: #f8f8f8;
      border: 1px solid #d5d7d8;
      padding: 10px 29px 10px 23px;
      margin-top: 3px;
   }
   &__reply-error {
      display: none;
      color: #c00;
      padding-bottom: 10px;
   }
   &__reply-textarea {
      width: 100%;
      height: 100px;
      border: 1px solid #cccccc;
      border-top: 1px solid #d5d7d8;
      padding: 5px;
      resize: none;
      margin-top: 10px;
      margin-bottom: 10px;
      &::placeholder {
         font-size: 14px;
      }
   }
   &__reply-buttons {
      text-align: center;
      margin: 0 auto;
   }
   &__reply-reply,
   &__reply-cancel {
      display: inline-block;
      padding: 10px;
   }
   &__reply-cancel {
      margin-left: 5px;
      background-color: #c9c9c9;
      border-bottom: 2px solid #b4b4b4;
      &:hover {
         background-color: #dcdcdc;
         border-bottom: 2px solid #c9c9c9;
      }
   }
}

@media only screen and (max-width: 1130px) {
   .default-forms {
      &__expanded-view {
         display: block;
         text-align: center;
         margin: 0;
         margin-right: 25%;
      }
   }
}

@media only screen and (max-width: 1024px) {
   .default-forms {
      &__inner {
         padding-top: 20px;
      }
      &__label {
         padding: 20px 15px 5px 0;
         display: block;
         text-align: left;
         width: 100%;
      }
      &__label-website {
         display: none;
      }
      &__expanded-view {
         display: none;
      }
      &__input-subject {
         width: 90%;
      }
      &__textarea {
         flex-direction: column;
         align-items: flex-start;
      }
      &__input-details {
         width: 95%;
      }
      &__photo {
         display: block;
         max-width: 210px;
      }
      &__captcha {
         flex-wrap: wrap;
      }
      &__submit {
         margin: 0;
         text-align: left;
      }
      &__photo-link_comments {
         display: inline-block;
      }
      &__submit-comments {
         text-align: center;
         margin: 0 auto;
      }
   }
}

@media only screen and (max-width: 780px) {
   .default-forms {
      padding: 20px 20px 20px 20px;
      &__title_light {
         text-align: left;
         font-size: 18px;
      }
      &__check-name,
      &__check-name-ok,
      &__check-subject,
      &__check-subject-ok,
      &__check-select,
      &__check-select-ok {
         display: none;
      }
      &__arrow {
         padding: 0 5px;
      }
      &__captcha-input {
         margin-top: 5px;
         margin-bottom: 5px;
      }
   }
}

@media only screen and (max-width: 580px) {
   .default-forms {
      &__input-name,
      &__input-subject,
      &__select,
      &__input-address,
      &__input-website {
         max-width: none;
         width: 90%;
      }
   }
}
