body {
   font-weight: 400;
   font-family: Roboto, sans-serif;
   background: #eff0f0;
   font-size: 14;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
   font-weight: 400;
}
a {
   color: #105cb6;
   text-decoration: none;
   cursor: pointer;
}

.page-content {
   max-width: 1160px;
   margin: 0 auto;
   padding: 0 50px;
}

.page-content__cols {
   display: flex;
    flex-direction: row;
    max-width: 1120px;
    width: 100%;
}

.page-content__left {
   max-width: 780px;
   flex-grow: 1;
}

.page-content__right {
   width: 340px;
   min-width: 340px;
   padding-left: 20px;
}


.green-dialogs {
   left: 50%;
   top: 0;
   transform: translate(-50%);
   width: 100%;
   max-width: 450px;
   z-index: 10;
   position: absolute;
}
.green-dialogs__closemodal {
   position: absolute;
   right: 10px;
   top: 10px;
   z-index: 7;
}
.green-dialogs__closemodal-link {
   display: block;
   width: 20px;
   height: 20px;
   background: url(../img/modal_close.png) no-repeat;
}
.green-dialogs__container {
   background: #f8f8f8;
   overflow: hidden;
}
.green-dialogs__title-wrapper {
   background-color: #64af37;
   color: #fff;
   text-align: center;
   width: 100%;
   height: 60px;
   display: table;
   border-bottom: 0 solid #679d19;
}
.green-dialogs__title {
   font-size: 24px;
   line-height: 24px;
   display: table-cell;
   vertical-align: middle;
   font-weight: 400;
}

.green-dialogs__user {
   position: relative;
   background: #fff;
   padding: 10px;
   max-width: 450px;
   box-sizing: border-box;
}
.green-dialogs__note {
   color: #666;
   text-align: center;
   border-bottom: 1px dotted #666;
   padding: 15px;
}
.green-dialogs__note-link {
   font-weight: 700;
}
.green-dialogs__form {
   margin: 0;
}
.green-dialogs__form-inner {
   margin: 20px 0 0;
}

.green-dialogs__registration-errors {
   padding: 16px 40px;
   list-style-type: square;
   background: #ffd7d7;
   display: block;
   color: red;
}

.green-dialogs__step-1 {
   overflow: hidden;
}

.green-dialogs__connect {
   padding: 0 40px 20px;
   color: #666;
   vertical-align: top;
   max-width: 295px;
   text-align: center;
   width: 100%;
}

.green-dialogs__connect-label {
   vertical-align: top;
   font-weight: 400;
   padding-top: 3px;
   width: 100px;
   display: inline-block;
   margin-top: 6px;
}

.green-dialogs__connect-icons {
   display: inline-block;
}

.green-dialogs__connect-images {
   width: 32px;
   height: 32px;
}

.green-dialogs__or {
   line-height: 30px;
   font-size: 13px;
   vertical-align: top;
}

.green-dialogs__username,
.green-dialogs__email-wrapper,
.green-dialogs__password,
.green-dialogs__code {
   margin-bottom: 10px;
   padding: 0 40px;
}

.green-dialogs__username-label,
.green-dialogs__email-label,
.green-dialogs__password-label,
.green-dialogs__code-label {
   text-align: right;
   padding-right: 20px;
   width: 90px;
   display: inline-block;
   font-weight: 700;
   margin-top: 6px;
}

.green-dialogs__username-input,
.green-dialogs__email-input,
.green-dialogs__password-input,
.green-dialogs__code-input {
   margin: 0;
   max-width: 200px;
   width: 100%;
   padding: 5px;
   border-color: #ccc;
}

.green-dialogs__username-input:focus,
.green-dialogs__email-input:focus,
.green-dialogs__password-input:focus,
.green-dialogs__code-input:focus {
   outline: 0;
   border-color: #9acb53;
   box-shadow: 0 0 3px #9acb53;
}

.green-dialogs__password-input {
   max-width: 140px;
}

.green-dialogs__password-input_user {
   max-width: 200px;
}

.green-dialogs__code-label {
   vertical-align: top;
   margin-top: 15px;
}

.green-dialogs__code-arrow {
   padding: 0 10px;
   vertical-align: top;
   margin-top: 15px;
}

.green-dialogs__code-input {
   max-width: 64px;
}
.green-dialogs__submit-wrapper {
   padding: 20px;
   background-color: #eff0f0;
   width: 100%;
   height: 40px;
   display: table;
   border-top: 1px solid #d5d7d8;
   text-align: center;
   box-sizing: border-box;
}
.green-dialogs__submit {
   background-color: #ff8000;
   color: #fff;
   font-size: 14px;
   font-weight: 700;
   padding: 10px;
   text-decoration: none !important;
   border-radius: 4px;
   border-bottom: 2px solid #c60;
   white-space: nowrap;
   display: inline-block;
}
.green-dialogs__submit:hover {
   background-color: #ffa64d;
   border-bottom: 2px solid #ee8a26;
   color: #fff;
}
.green-dialogs__submit-forgot {
   padding-left: 10px;
}
